<div class="btn-cont">
  <div>
    <button class="btn-get-users" (click)="getUsers()">Get Users</button>
  </div>
  <div *ngIf="selectedUser" class="del-div">
    <h3>
      <span class="on-delete">Delete user: </span>{{ selectedUser.firstName }}
      {{ selectedUser.lastName }} ?
    </h3>
    <button class="btn-del" (click)="deleteUsers(selectedUser.id)">
      Delete
    </button>
  </div>
  <div *ngIf="isActive"></div>
</div>

<div class="container">
  <div class="user-list">
    <h2>Users list</h2>
    <ul>
      <li
        *ngFor="let user of users"
        (click)="onSelect(user)"
        (click)="getPosts(user.id)"
        [class.selected]="user === selectedUser"
        class="user-field"
      >
        <span class="user-id">{{user.id}}.</span>
        {{ user.firstName }} {{ user.lastName }}
      </li>
    </ul>
  </div>

  <div *ngIf="selectedUser" class="user-block">
    <div class="user-info">
      <h3>{{ selectedUser.userName }} :</h3>
      <div><span>First Name: </span> {{ selectedUser.firstName }}</div>
      <div><span>Last Name: </span> {{ selectedUser.lastName }}</div>
      <div><span>Sex: </span>{{ selectedUser.sex }}</div>
      <div><span>Age: </span>{{ selectedUser.age }}</div>
    </div>

    <div>
      <form #form="ngForm" (ngSubmit)="editUser(form)">
        <label></label>
        <input
          type="text"
          placeholder="Enter new Nick Name"
          name="username"
          [(ngModel)]="data.username"
          #username="ngModel"
        />
        <button type="submit">Change nick name</button>
      </form>
    </div>
  </div>

  <div class="post-list" *ngIf="posts">
    <app-posts [posts]="posts"></app-posts>
  </div>
</div>
