.btn-cont {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 20px;
  height: 60px;
  /* border: 1px dotted rgb(11, 2, 41); */
}
.user-id {
  color: #2b3547;
  font-weight: 700;
  font-size: 16px;
}

.user-block {
  max-width: 300px;
}

.user-info {
  margin: 70px 5px 5px 50px;
  padding: 30px 20px 50px 20px;
  font-size: 16px;
  height: 150px;
  min-width: 250px;
  background-color: #b4bbce;
  box-shadow: 5px 5px 10px rgba(0, 1, 6, 0.5), -3px -3px 10px rgba(0, 1, 6, 0.5);
  /* text-align: center; */
}

.post-title {
  /* padding-left: 100px; */
  padding-top: 100px;
}

.user-info span {
  font-weight: 800;
  color: #2b3547;
}

.input {
  margin: 20px 0 50px 50px;
}

input {
  padding: 10px 60px;
  outline: none;
  border-radius: 5px;
}

.del-div {
  /* border: 1px solid green; */
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
.btn-del {
  margin: 12px 0 0 20px;
  height: 30px;
}
.btn-get-users {
  margin-top: 12px;
}
.on-delete {
  color: rgb(151, 12, 12);
}

.user-list .selected:hover {
  background: #506db4;
  color: rgb(194, 191, 191);
  box-shadow: 0 0 12px rgb(0, 0, 0);
}

.selected {
  background: #324880;
  color: white;
  box-shadow: 0 0 3px rgb(0, 0, 0);
}

.user-field {
  position: relative;
  font-size: 18px;
  list-style-type: none;
  background-color: #b4bbce;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
  margin: 15px;
  width: 250px;
  text-align: center;
  padding-top: 14px;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.user-list li:hover {
  color: #2b3547;
  background-color: #7e95c0;
  transform: scale(1.04);
  box-shadow: 0 0 12px rgb(0, 0, 0);
}

h2 {
  font-weight: 900;
  font-size: 36px;
  text-shadow: 0 0 5px rgb(209, 209, 217);
}

.btn-del .btn:active {
  top: 0.1em;
  left: 0.1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
}

.btn {
  margin: 30px 0 0 20px;
  width: 10em;
  height: 2.5em;
  line-height: 2.5em;

  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #2b2ef6;
  border-radius: 5px;

  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset,
    0.1em 0.1em 0.2em rgb(0, 2, 136);
  background: linear-gradient(#5f92f1, #4c82f5 48%, #1d34b3 52%, #1a30ad);
}

.btn-del {
  margin: 0 0 30px 20px;
  width: 10em;
  height: 2.5em;
  line-height: 2.5em;

  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #f64c2b;
  border-radius: 5px;

  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #800;
  background: linear-gradient(#f1815f, #f56b4c 48%, #b3291d 52%, #ad2c1a);
}

.selected {
  background: #324880;
  color: white;
  box-shadow: 0 0 3px rgb(0, 0, 0);
}

.user-list .selected:hover {
  background: #506db4;
  color: rgb(194, 191, 191);
  box-shadow: 0 0 12px rgb(0, 0, 0);
}

/* .post-list {
  list-style-type: none;
  font-weight: 500;
} */
