<div class="btn-cont">
  <div>
    <button class="btn-get-users" (click)="getUsers()">Get Users</button>
  </div>
  <div *ngIf="selectedUser" class="del-div">
    <h3>
      <span class="on-delete">Delete user: </span>{{ selectedUser.firstName }}
      {{ selectedUser.lastName }} ?
    </h3>
    <button class="btn-del" (click)="deleteUsers(selectedUser.id)">
      Delete
    </button>
  </div>
  <div *ngIf="isActive">
    <!-- <form #form="ngForm" (ngSubmit)="delUser(form)">
      <label>User Id</label>
      <input
        type="text"
        placeholder="User Id"
        pattern="^[0-9]*$"
        [(ngModel)]="data.id"
        name="id"
        #id="ngModel"
      />
      <button type="submit" (ngSubmit)="onSubmit()">Delete User</button>
    </form> -->
  </div>
</div>

<div class="container">
  <div *ngIf="isShow" class="user-list">
    <h2>Users list</h2>
    <ul>
      <li
        *ngFor="let user of users"
        (click)="onSelect(user)"
        [class.selected]="user === selectedUser"
        class="user-field"
      >
        <span class="user-id">{{user.id}}.</span>
        {{ user.firstName }} {{ user.lastName }}
      </li>
    </ul>
  </div>
  <button (click)="testPost()">TEST POST</button>
</div>
