<div class="post-container">
  <!-- <h2>Users Post</h2> -->
  <div>
    <ol class="post-list">
      <li
        *ngFor="let post of posts"
        (click)="onSelect(post)"
        [class.selected]="post === selected"
      >
        {{post.title}}
      </li>
    </ol>
  </div>
  <div class="add-post">
    <div class="btn-div">
      <button
        *ngIf="selected"
        class="btn-del"
        (click)="deletePost(selected.id)"
      >
        Delete post
      </button>
    </div>
    <form #form="ngForm" (ngSubmit)="addPost(form)">
      <label></label>
      <input
        type="text"
        placeholder="Your new post"
        name="title"
        [(ngModel)]="postData.title"
        #title="ngModel"
      />
      <br />
      <button class="btn-add" type="submit">Add Post</button>
    </form>
  </div>
</div>
